<?xml version="1.0" encoding="UTF-8"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="Test" preserve-order="true">
		<classes>
			<class name="com.winfo.testcase.Testcases" />
		</classes>
		<methods />
	</test>
</suite>